body {
  background-color: #A3B18A;
  color: #3A5A40;
  font-size: 2em;
}
h1 {
  text-align: center;
}
button {
  background-color: #DAD7CD;
}
input{
 display: block;
 margin-bottom: 12px;
}
a {
  color: #344E41;
}
#outputList {
  list-style: none;
}
#header {
  background-color: #588157;
  color: #DAD7CD;
}
#onePing {
  display: none;
  float: right;
}
#myModal {
  display: none;
}
